* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.icon {
    align-self: center;
    text-align: center;
}

.hero-page {
    background-image: url(./img/pexelsphoto213621.png);
    min-height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    padding: 80px;
    color: white;
}

.t-f {
    font-size: 4rem;
    /* color: white; */
    text-align: center;
    padding-top: 9rem;
    letter-spacing: 2px;
    font-size: 400;
}

.bakery {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 3px;
    font-weight: 300;
}

.hr1 {
    border-bottom: dotted;
    width: 12%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    outline: none;
    font-size: 5rem;
    color: rgb(223, 203, 171);
}

@media screen and (max-width:430px) {
    .hero-page {}
}

/* This is the style of section-1 */
.section-1 {
    background-color: rgb(223, 203, 171);
    display: block;
}

.bakery1 {
    padding-top: 5rem;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

hr {
    border-bottom: dotted;
    width: 12%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    outline: none;
    font-size: 5rem;
    color: rgb(135, 126, 115);
}

.p-1 {
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
}

.divider {
    display: flex;
    padding-top: 4rem;
    height: 40rem;
    align-items: center;
}

.image1 {
    margin-left: 3rem;
    background-image: url(./img/pexelsphoto291528.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 30%;
}

.container1 {
    margin-left: 7rem;
}

.paragraph {
    font-size: 13px;
    margin-bottom: 3rem;
}

.image2 {
    margin-top: 70px;
}

@media screen and (max-width:430px) {
    .image1 {
        width: 95%;
        margin-left: 0;
        padding: 1.5rem;
        margin-bottom: 1rem;
    }

    .divider {
        flex-direction: column;
    }

    .container1 {
        margin-left: 0rem;
    }
}

.header {
    font-size: 30px;
}

.sect-1 {
    margin-bottom: 30px;
}

.date {
    font-size: 14px;
}

.paragraph2 {
    font-size: 14px;
}

.btn-1 {
    background-color: rgb(223, 203, 171);
    border: none;
    font-size: 12px;
    text-align: center;
    width: 40%;
    padding-right: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    text-align: center;
    margin-top: 3rem;
}

.flexbox {
    display: flex;
}

.line {
    width: 40%;
}

.container2 {
    align-self: center;
    text-align: center;
    padding: 20px;
}

.image {}

.image- {}

@media screen and (max-width:430px) {
    .img-1 {
        width: 100%;
        padding: 1rem;
    }

    .img-2 {
        width: 100%;
        padding: 1rem;
    }

    .container2 {
        width: 100%;
    }

    .paragraph2 {
        margin-top: 20px;
    }

    .date {
        margin-top: 20px;
    }

    .header {
        margin-top: 15px;
    }

    .flexbox {
        flex-direction: column;
    }
}

.sect-2 {
    background-image: url(./img/pexelsphoto324028.jpg);
    min-height: 100vh;
    width: 100%;
    background-size: cover;
}

.div-1 {
    color: white;
    padding-top: 10rem;
    padding-left: 5rem;
}

.shop {
    font-weight: 900;
    font-size: 30px;
}

.p-2 {
    font-size: 13px;
    padding-top: 20px;
}

.btn-2 {
    background-color: rgb(223, 203, 171);
    border: none;
    font-size: 12px;
    text-align: center;
    padding-right: 1px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.btn-2:hover {
    color: white;
    background-color: burlywood;
}

.minicontainer {
    padding-top: 20px;
}

@media screen and (max-width:430px) {
    .div-1 {
        padding-right: 5rem;
        padding-left: 2rem;
    }

    .btn-2 {
        padding: 15px;
        text-align: center;
    }

    .minicontainer {
        padding-top: 20px;
        padding-bottom: 5rem;
    }
}

.preview {
    background-color: rgb(223, 203, 171);
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.image3 {
    background-image: url(./img/pexelsphoto907142.jpeg);
    background-size: cover;
    height: 60vh;
    background-position: center;
    width: 170%;
}

.paragraph-1 {
    font-size: 12px;
    width: 100%;
    margin-top: 3rem;
}

.hr2 {
    margin-right: 6rem;
}

.image3- {
    background-image: url(./img/pexelsphoto1028711.jpeg);
    background-size: cover;
    height: 60vh;
    background-position: center;
    width: 170%;
    margin-top: 3rem;
}

.flexbox-1 {
    display: flex;
    margin-top: 3rem;
}

.part1 {
    padding-left: 10rem;
}

.part2 {
    padding-left: 15rem;
    padding-right: 10rem;
}

@media screen and (max-width:430px) {
    .preview {
        margin-top: 2rem;
    }

    .image3 {
        width: 95%;
    }

    .image3- {
        width: 14rem;
        background-size: cover;
        height: 70vh;
        width: 163%;
    }

    .part1 {
        padding-left: 2rem;
    }

    .part2 {
        padding-left: 2rem;
    }

    .flexbox-1 {
        flex-direction: column;
    }
}

.img1 {
    background-image: url(./img/chocolatedessertbrowniescake.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    width: 30%;
}

.button1 {
    background-color: rgb(223, 203, 171);
    border: none;
    font-size: 12px;
    text-align: center;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.image3-- {
    background-image: url(./img/pexelsphoto973238.jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
    width: 30%;
    margin-left: auto;
}

.contacts {
    display: flex;
}

.details {
    text-align: center;
    margin: auto;
    height: 100vh;
    padding-top: 3rem;
}

.ps2 {
    padding-top: 20px;
}

hr {
    width: 50%;
}

.button1 {
    margin-top: 30px;
}

@media screen and (max-width:430px) {
    .contacts{
        flex-direction: column;
    }

    .img1{
        width: 100%;
    }

    .image3--{
        margin-top: 5rem;
        width: 100%;
        background-size: cover;
    }
}

.footer {
    background-color: rgb(51, 51, 51);
    height: 15vh;
}

.paragraph-2 {
    color: white;
    padding-top: 25px;
    text-align: center;
    font-size: 13px;
}

a {
    color: rgb(223, 203, 171);
}

a:hover {
    color: white;
    text-decoration: none;
}